.input-container {
    margin-bottom: 10px;
    margin-right: 50px;
}

.input-container label {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    background-color: aliceblue;
    border: 1px solid #ccc;
}

.input-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    background-color: aliceblue;
    border: 1px solid #ccc;
}

.contact-link-bubble {
    color: rgb(69, 69, 69);
    margin: 10px 0; 
    margin-left: 50px; 
    padding: 10px !important;
    padding-left: -5px;
    background-color: rgb(197, 197, 197);
    border-radius: 20px;
    display: inline-block; 
    display: block;
    width: fit-content; 
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
}

.timestamp {
    margin-left: 50px;
    font-size: 12px;
    color: #666;
}