* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #0f004c;
    margin: 0;
    padding: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background-color: aliceblue;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    content: "";
    position: absolute;
    top: 0;
    width: 15%; 
    height: 100%;
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}

.logos:hover .logo-slide {
    animation-play-state: paused;
}

.logo-slide {
    display: inline-block;
    animation: slide 35s linear infinite;
}

.logo-slide img {
    height: 60px;
    margin: 0 4vw; 
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .logos:before,
    .logos:after {
        width: 10%; 
    }

    .logo-slide img {
        height: 40px;
        margin: 0 3vw; 
    }
}
