.hero {
    display: flex;
    align-items: center;
    background-color: #048bd3;
    border-radius: 10px;
    padding-top: 60px;
    width: 100%;
    margin-top: 180px;
    margin-bottom: 20px;
    
}

.hero-image img {
    max-width: 100%;
    width: 400px;
    height: auto;
    
}

.hero-content {
    flex-grow: 1; 
    padding-left: 20px; 
    padding-right: 20px;
}

.hero-content h1,
.hero-content p {
    margin: 0; /* Remove default margins */
    
}

.text-primary {
    color: #fff !important;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: row;
        margin-top: 200px;
        margin-bottom: 20px;
    }
    
    .hero-image img {
        width: 300px;
    }
    
    .hero-content {
        font-size: 0.5rem; 
    }
    
}
