.text-bubble p {
    color: rgb(69, 69, 69);
    margin: 10px 0; 
    margin-left: 50px; 
    padding: 10px !important;
    padding-left: -5px;
    background-color: rgb(197, 197, 197);
    border-radius: 20px;
    display: inline-block; 
    display: block;
    width: fit-content; 
}

.link-bubble p {
    color: rgb(125, 125, 125);
    margin: 10px 0;
    margin-left: 50px;
    padding: 10px;
    background-color: #98D9FD;
    border-radius: 20px;
    display: inline-block; 
    display: block; 
    width: fit-content; 
}

.timestamp {
    color: rgb(69, 69, 69);
    font-size: 0.8em;
    margin: 10px 0;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.timestamp img {
    width: 40px;
    margin-right: 5px;
}

.timestamp p {
    margin: 0;
}

@media screen and (max-width: 768px)
{
    .text-bubble p {
        margin-left: 0;
    }

    .link-bubble p {
        margin-left: 0;
    }

    .timestamp {
        margin-left: 0;
    }
    
}

